<div class="table-responsive table-striped">
  <table class="table">
    <thead>
    <th class="col-4" scope="col">Name</th>
    <th class="col-4" scope="col">Price</th>
    <th class="col-4" scope="col">Options</th>
    </thead>
    <tbody>

      <tr class="row-12" *ngFor="let value of dataFromServer"
          (click)="setSelected(value)"
          [ngStyle]="{backgroundColor: selected == value ? '#F2F2F2': 'transparent'}">
        <td>{{ value.name_p }}</td>
        <td>{{ value.price }}</td>
        <td>
          <form (submit)="changeImg($event, value)">
            <input id="file-input" type="file" name="name" />
            <input class="button" type="submit" value="Upload img">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
